.container {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  height: 10em;
}

.flexChild {
  height: 50%;
  width: 50%;
}

.alignBottom {
  display: flex;
  align-items: flex-end;
}

.alignRight {
  text-align: right;
}

.topLeft {
  composes: flexChild;
}

.topRight {
  composes: flexChild;
  composes: alignRight;
}

.bottomLeft {
  composes: flexChild;
  composes: alignBottom;
}

.bottomRight {
  composes: flexChild;
  composes: alignBottom;
  composes: alignRight;
}

.textMargin {
  margin-bottom: 0.2em;
}

.name {
  composes: textMargin;
  font-size: 1.2em;
}

.smallText {
  font-size: 0.8em;
  color: #70757a;
}

.date {
  composes: textMargin;
  font-size: 0.93em;
}

.temp {
  font-size: 1.6em;
}

.date {
  font-size: 0.93em;
}
