.container {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 1em 0.7em 0.7em;
}

.textMargin {
  margin-bottom: 0.2em;
}

.name {
  composes: textMargin;
  font-size: 1.2em;
}

.smallText {
  font-size: 0.8em;
  color: #70757a;
}

.date {
  composes: textMargin;
  font-size: 0.93em;
}

.temp {
  font-size: 1.6em;
}

.date {
  font-size: 0.93em;
}
