.container {
  composes: boxBackground from '../styles/colors.module.css';
  composes: roundedThin from '../styles/borders.module.css';
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.partPadding {
  padding: 1em;
}

.alignRight {
  text-align: right;
}

.topRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottomRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.topLeft {
  composes: partPadding;
}

.topRight {
  composes: partPadding;
  composes: alignRight;
  display: flex;
  align-items: center;
}

.bottomLeft {
  composes: partPadding;
}

.bottomRight {
  composes: partPadding;
  composes: alignRight;
}

.textMargin {
  margin-bottom: 0.2em;
}

.name {
  composes: textMargin;
  composes: l from '../styles/fonts.module.css';
}

.smallText {
  composes: s from '../styles/fonts.module.css';
  composes: dimText from '../styles/colors.module.css';
}

.date {
  composes: textMargin;
  composes: m from '../styles/fonts.module.css';
}

.temp {
  composes: xxl from '../styles/fonts.module.css';
  margin-left: 0.2em;
}
