.container {
  composes: boxBackground from '../styles/colors.module.css';
  composes: roundedThin from '../styles/borders.module.css';
  text-align: center;
  padding-top: 1em;
}

.time {
  composes: s from '../styles/fonts.module.css';
  composes: dimText from '../styles/colors.module.css';
}

.temp {
  composes: m from '../styles/fonts.module.css';
  padding-bottom: 0.5em;
}

.bottomPart {
  composes: xs from '../styles/fonts.module.css';
  composes: dimText from '../styles/colors.module.css';
  border-top: 1px solid #e6e6e6;
  composes: altBoxBackground from '../styles/colors.module.css';
  padding: 0.7em 0.5em 0.7em;
}
