.container {
  composes: boxBackground from '../styles/colors.module.css';
  composes: roundedThin from '../styles/borders.module.css';
  text-align: center;
  padding-top: 1em;
}

.time {
  font-size: 0.8em;
  composes: dimText from '../styles/colors.module.css';
}

.temp {
  font-size: 0.93em;
  padding-bottom: 0.5em;
}

.bottomPart {
  font-size: 0.62em;
  composes: dimText from '../styles/colors.module.css';
  border-top: 1px solid #e6e6e6;
  composes: altBoxBackground from '../styles/colors.module.css';
  padding: 0.7em 0.5em 0.7em;
}
