.container {
  composes: boxBackground from '../styles/colors.module.css';
  text-align: center;
  composes: roundedThin from '../styles/borders.module.css';
  border-radius: 0;
  margin-bottom: 1em;
}

.text {
  font-size: 1.4em;
  margin: 0;
  padding: 0.7em;
}
